{% extends 'base/base.html' %}
{% block content %}
    <form method="post" id="frm_purchase">
        {% csrf_token %}
        <div class="col-xl-12 col-md-12 mb-12">
            {% if header %}
            <div class="card border-left-warning shadow h-100 py-2">
            {% else %}
            <div class="card border-left-success shadow h-100 py-2">
            {% endif %}
                <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    {% if header %} Edit {% else %} New {% endif %} Purchase
                                </div>
                                <div class="dropdown-divider"></div>
                                <div class="row">
                                    <!-- start left -->
                                    <div class="col-6">
                                        <!-- start header -->
                                        <div class="form-group row">
                                            <label for="staticEmail" class="col-sm-2 col-form-label">Vendor:</label>
                                            <div class="col-sm-10">
                                              {{ form_purchase.vendor }}
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="id_date_purchase">Date Purchase:</label>
                                                    {{form_purchase.date_purchase}}
                                                </div>
                                                <div class="form-group">
                                                    <label for="id_description">Description:</label>
                                                    {{form_purchase.observations}}
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <label for="id_invoice_number">Invoice Number:</label>
                                                    {{form_purchase.invoice_number}}
                                                </div>
                                                <div class="form-group">
                                                    <label for="id_date_invoice">Date Invoice:</label>
                                                    {{form_purchase.date_invoice}}
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="Sub Total">Sub Total:</label>
                                                    </div>
                                                    <div class="col">
                                                        {{ form_purchase.sub_total }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="sub_total">Discount:</label>
                                                    </div>
                                                    <div class="col">
                                                        {{ form_purchase.discount }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col">
                                                        <label for="total">Total:</label>
                                                    </div>
                                                    <div class="col">
                                                        {{ form_purchase.total }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- End Header -->
                                    </div>
                                    <!-- End Left -->
                                    <!-- Start right -->
                                    <div class="col-6">
                                        <div class="row">
                                            <div class="col">
                                                <table class="table table-striped table-hover dt-responsive table-sm nowrap tbl-productos" style="width:100%">
                                                    <thead>
                                                        <th>Id</th>        
                                                        <th class="all">Description</th>
                                                        <th class="all">Actions</th>
                                                    </thead>
                                                    <tbody>
                                                        {% for item in products %}
                                                        <tr>
                                                        <td>{{ item.id }}</td>
                                                        <td>{{ item.description }}</td>
                                                        <td>
                                                            <button type="button" class="btn btn-warning btn-circle"
                                                            onclick="selectProduct({{item.id}},'{{item.description}}')" ><i class="far fa-hand-pointer"></i></button>
                                                        </td>
                                                        </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="id_id_product" class="col-sm-3 col-form-label">Product</label>
                                            <div class="col-sm-2">
                                                <input type="text" readonly class="form-control-plaintext" name="id_id_product" id="id_id_product" value="" required>
                                            </div>
                                            <div class="col-sm-7">
                                                <input type="text" readonly class="form-control-plaintext" id="id_description_product" value="" required>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="id_quantity_detail" class="col-sm-2 col-form-label">Quantity.:</label>
                                            <div class="col-sm-2">
                                                <input type="number" class="form-control" name="id_quantity_detail" id="id_quantity_detail" value="00" required>
                                            </div>
                                            <label for="id_price_detail" class="col-sm-2 col-form-label">Price:</label>
                                            <div class="col-sm-2">
                                                <input type="number" class="form-control" name="id_price_detail" id="id_price_detail" value="00" required>
                                            </div>
                                            <label for="id_dicount_detail" class="col-sm-2 col-form-label">Disc.:</label>
                                            <div class="col-sm-2">
                                                <input type="text" class="form-control" name="id_discount_detail" id="id_discount_detail" value="00">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="id_sub_total_detail" class="col-sm-2 col-form-label">S. Total:</label>
                                            <div class="col-sm-4">
                                                <input type="text" readonly class="form-control-plaintext" name="id_sub_total_detail" id="id_sub_total_detail" value="00">
                                            </div>
                                            <label for="id_total_detail" class="col-sm-2 col-form-label">Total:</label>
                                            <div class="col-sm-3">
                                                <input type="text" readonly class="form-control-plaintext col-sm-10" name="id_total_detail" id="id_total_detail" value="00">
                                            </div>
                                            <div class="col-sm-1">
                                                <button type="button" class="btn btn-sm col-sm-2" onclick="clear_detail()"><i class="fa fa-minus-circle" aria-hidden="true"></i></button>
                                            </div>
                                        </div>
                                        <!-- Buttons -->
                                        <div class="dropdown-divider"></div>
                                        <div class="row">
                                            <div class="col">
                                                <button type="submit" class="btn btn-danger"><span class="fa fa-save"></span> Save</button>
                                                <a href="{% url 'purchases:purchase_list' %}" class="btn btn-success"><i class="far fa-hand-point-left"></i> Cancel</a>
                                            </div>
                                        </div>
                                        <!-- End Buttons -->
                                    </div>
                                    <!-- End Right -->
                                </div>
                                <!-- Start detail -->
                                <div class="row">
                                    <div class="col">
                                        <table class="table table-striped table-hover dt-responsive nowrap" style="width:100%">
                                            <thead>
                                                <th>Product</th>        
                                                <th>Quantity</th>
                                                <th>Price</th>
                                                <th>Sub Total</th>
                                                <th>Disc.</th>
                                                <th>Total</th>
                                                <th class="all">Actions</th>
                                            </thead>
                                            <tbody>
                                                {% for item in detail %}
                                                <tr>
                                                <td>{{ item.product }}</td>
                                                <td>{{ item.quantity }}</td>
                                                <td>{{ item.price }}</td>
                                                <td>{{ item.sub_total }}</td>
                                                <td>{{ item.discount }}</td>
                                                <td>{{ item.total }}</td>
                                                <td>
                                                    <button class="btn btn-danger btn-circle" onclick="return abrir_modal('{% url 'cmp:compras_del' encabezado.pk item.id %}')"><i class="fas fa-trash-alt"></i></button>
                                                </td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- End detail -->
                            </div>
                        </div>
                </div>
        </div>
    </form>

{% endblock content %}

{% block js %}
<script>
    $(function () {

        $("#id_date_purchase, #id_date_invoice").datetimepicker({
            format: 'Y-m-d',
            timepicker:false
        });

        $("#sidebarToggle").click();

        $('.table').DataTable({
            "pageLength": 2
        });

        //  calculate the values on the detail 
        $('#id_quantity_detail,#id_price_detail,#id_discount_detail').change(function(){
            calculate_detail();
        });
    })


    function selectProduct(id,description)
    {
        $("#id_quantity_detail").val(0);
        $('#id_price_detail').val(0);
        $('#id_discount_detail').val(0);

        $('#id_sub_total_detail').val(0);
        $('#id_total_detail').val(0);

        $("#id_id_product").val(+id);
        $('#id_description_product').val(description);
        $('#id_quantity_detail').focus();
        $('#id_quantity_detail').select();

        // CLEAR DATATABLE SEARCH
        $('.table').DataTable().search('').draw();
    }

    function calculate_detail()
    {
        var quantity,price,discount,stotal,total;

        quantity = $("#id_quantity_detail").val();
        //  + for convert to numeric
        quantity = quantity==="" ? 0 : +quantity;
        quantity = quantity<0 ? 0 : quantity;

        price =$('#id_price_detail').val();
        price = price==="" ? 0 : +price;
        price = price<0 ? 0 : price;

        discount = $('#id_discount_detail').val();
        discount = discount==="" ? 0 : +discount;
        discount = discount<0 ? 0 : discount;

        discount = discount>(quantity * price) ? 0 : discount;

        stotal = quantity * price;
        total  = stotal - discount;

        $('#id_quantity_detail').val(quantity);
        $('#id_price_detail').val(price);
        $('#id_discount_detail').val(discount);

        $('#id_sub_total_detail').val(stotal);
        $('#id_total_detail').val(total);

    }

    function clear_detail(){
        $('#id_quantity_detail').val(0);
        $('#id_price_detail').val(0);
        $('#id_discount_detail').val(0);

        $('#id_sub_total_detail').val(0);
        $('#id_total_detail').val(0);

        $('#id_id_product').val('');
        $('#id_description_product').val('');

        $('.table').DataTable().search('').draw();

        $("#id_vendor").focus();
    }

    $("#id_vendor").focus();



    //     $('#id_cantidad_detalle,#id_precio_detalle,#id_descuento_detalle').change(function(){
    //         calcular_detalle();
    //     });

    //     /*Validar Envío de Detalle */
    //     $("#frmCompras").submit(function(e){
    //         if($('#id_total_detalle').val()==0 || $('#id_id_producto').val()==0 ){
    //             e.preventDefault();
    //             //alert("No ha agregado producto o está sin cantidades");
    //             $.alert({
    //                     type:'red',
    //                     title:'',
    //                     content:'No ha agregado producto o está sin cantidades'
    //                     })
    //         }
    //     });
    //     /*Fin Validar Envío de Detalle */

    // });



    

    // 

    // $("#id_proveedor").focus();
</script>
{% endblock %}