    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'bases:home' %}">
          <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-money-check"></i>
          </div>
          <div class="sidebar-brand-text mx-3">Pos Admin </div>
        </a>
  
        <!-- Divider -->
        <hr class="sidebar-divider my-0">
  
        <!-- Nav Item - Dashboard -->
        <li class="nav-item">
          <a class="nav-link" href="{% url 'bases:home' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>
  
        <!-- Divider -->
        <hr class="sidebar-divider">
  
        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            <i class="fas fa-fw fa-cog"></i>
            <span>Catalog</span>
          </a>
          <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Catalog inventory</h6>
              {% if perms.inventory.view_category %}
                <a class="collapse-item" href="{% url 'inventory:category_list' %}">Categories</a>
              {% endif %}
              {% if perms.inventory.view_subcategory %}
                <a class="collapse-item" href="{% url 'inventory:subcategory_list' %}">Subcategories</a>
              {% endif %}
              {% if perms.inventory.view_brands %}
                <a class="collapse-item" href="{% url 'inventory:brand_list' %}">Brands</a>
              {% endif %}
              {% if perms.inventory.view_unitofmeasurement %}
                <a class="collapse-item" href="{% url 'inventory:unit_of_measurement_list' %}">Unit of measurement</a>
              {% endif %}
              {% if perms.inventory.view_product %}
                <a class="collapse-item" href="{% url 'inventory:product_list' %}">Products</a>
              {% endif %}

              <h6 class="collapse-header">Purchases</h6>
              {% if perms.purchase.view_vendor %}
                <a class="collapse-item" href="{% url 'purchases:vendor_list' %}">Vendors</a>
              {% endif %}
              <h6 class="collapse-header">Facturation</h6>
              {% if perms.purchase.view_clients %}
                <a class="collapse-item" href="{% url 'facturation:client_list' %}">Clients</a>
              {% endif %}
              {% if perms.purchase.view_invoiceheader %}
                <a class="collapse-item" href="{% url 'facturation:invoices_list' %}">Invoices</a>
              {% endif %}
            </div>
          </div>
        </li> 

        <!-- Movements -->
        <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-dolly"></i>
            <span>Movements</span>
          </a>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <h6 class="collapse-header">Entraces</h6>
              {% if perms.purchase.view_purchase %}
                <a class="collapse-item" href="{% url 'purchases:purchase_list' %}">Purchases</a>
              {% endif %}
              
            </div>
          </div>
        </li> 
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>
    </ul>
      <!-- End of Sidebar -->